@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is basic practice web app for azure.</p>
    <p>It is deployed by using continuous deployment and continuous integration.</p>
</div>
